# Entorno virtual y Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Variables de entorno y secretos
.env
*.env.local

# Base de datos local (opcional si prefieres no subir datos personales)
*.db-journal

# IDEs
.vscode/
.idea/
